body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav bar css start */

.nav-bar {
    background-color: rgba(0,47,52,.03);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.olx-logo {
    width: 45px;
    margin: auto 0 ;
    margin-bottom: 5px;
}

.inp-pak {
    width: 280px;
    height: 48px;
    margin: auto 0 ;
    border: none;
    border: 2px solid rgb(71, 66, 66);
    border-radius: 5px;
    background-image: url(images/inp-search-1.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left ;
    background-position-x: 10px;
    padding-left: 50px;
    margin-bottom: 5px;
}

.inp-pak::placeholder {
    color: #002f34;
    font-size: 17px;
}

.inp-car {
    width: 680px;
    height: 48px;
    margin: auto 0 ;
    border: none;
    border: 2px solid rgb(71, 66, 66);
    border-radius: 5px;
    background-image: url(images/inp-2-black-search.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: right ;
    background-position-x: 614px;
    margin-bottom: 5px;
}

.inp-car::placeholder {
    color: #6b7172;
    font-size: 17px;
    padding: 0 0 0 16px;
}

.a-login {
    font-weight: bold;
    font-size: 16px;
    color: #002f34;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    border-bottom: 2px solid #002f34;
}

.a-login:hover {
    border: none;
}

.sell-btn {
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-top: 5px solid #23e5db;
    border-bottom: 5px solid #ffce32;
    border-right: 5px solid #3a77ff;
    border-left: 5px solid #3a77ff;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    box-shadow: 0 0 10px gray;
}

/* nav bar css end */



/* second nav all categories css start */

.second-nav-categories {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0px;
    width: 100%;
}

.sec-nav-ul {
    display: flex;
    flex-wrap: wrap;
}

.sec-nav-ul li {
    display: flex;
    flex-wrap: wrap;
}

.alll {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 10px;
    margin-left: -35px;
    color: #002f34;
}

.sec-nav-ul>li {
    margin-left: 15px;
}

.sec-nav-ul a {
    text-decoration: none;
    color: #002f34;
}

.sec-nav-ul a:hover {
    color: #21d1c8;
}


/* second nav all categories css end */


/* fresh recommendation css start */

.fresh-recommend {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

.h-fresh-recommend {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002f34;
    margin-left: 50px;
}

.fresh-card {
    width: 280px;
    height: 260px !important;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.img-1 {
    margin-left: 80px;
    margin-top: 10px;
}

.fresh-card>h2 {
    font-size: 20px;
    color: #002f34;
    margin-left: 15px;
}

.fresh-card>.p1 {
    color: #002f34;
    margin-left: 15px;
    font-size: 15px;
    margin-top: -15px;
}

.fresh-card>.p2 {
    color: #002f34;
    margin-left: 15px;
    font-size: 10px;
    padding-top: 15px;
}

/* fresh recommendation css end */



/* load more css */

.load-more {
    text-align: center;
    margin-top: 10px;
}

.load-more>button {
    color: #002f34;
    border: none;
    border: 2px solid #002f34;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.load-more>button:hover {
    border: 5px solid #002f34;
}

/* try olx css start */

.try-olx {
    display: flex;
    background-color: #f7f8f9;
    margin-top: 20px;
    width: 100%;
}

.try-olx-2>h1 {
    color: #002f34;
}

.try-olx-2>p {
    color: #002f34;
    font-size: 20px;
}

.try-olx-3 {
    padding-top: 30px;
}

.try-olx-3>h3 {
    font-size: 15px;
    color: #002f34;
}

/* try olx css end */




/* footer follow us css START */

.footer-follow-us {
    display: flex;
    justify-content: space-evenly;
    background-color: #ebeeef;
}

.popular li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 13px;
    color: #002f34;
}

.trending li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 13px;
    color: #002f34;
}

.about li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 13px;
    color: #002f34;
}

.olx-us li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 13px;
    color: #002f34;
}

.li-single {
    color: #002f34;
    font-weight: bold;
    font-size: 15px !important; 
}

@media only screen and (max-width: 615px) {
    .try-olx-2 {
        display: none;
    }

    .try-olx-3 {
        display: none;
    }

    hr {
        display: none;
    }
}

.fa-facebook {
    background-color: lightblue;
}

/* footer follow us css END */


/* footer CSS START */


.footer {
    display: flex;
    justify-content: space-between;
    background: #002f34;
    color: white;
    padding: 0 10px 0 10px;
}