body {
    margin: 0;
    padding: 0;
}

/* nav bar css start */

.nav-bar {
    background-color: rgba(0,47,52,.03);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75px;
    margin-top: -6px;
}

.olx-logo {
    width: 45px;
    margin: auto 0 ;
}

.inp-pak {
    width: 280px;
    height: 48px;
    margin: auto 0 ;
    border: none;
    border: 2px solid rgb(71, 66, 66);
    border-radius: 5px;
    background-image: url(images/inp-search-1.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left ;
    background-position-x: 10px;
    padding-left: 50px;
}

.inp-pak::placeholder {
    color: #002f34;
    font-size: 17px;
}

.inp-car {
    width: 680px;
    height: 48px;
    margin: auto 0 ;
    border: none;
    border: 2px solid rgb(71, 66, 66);
    border-radius: 5px;
}

.inp-car::placeholder {
    color: #6b7172;
    font-size: 17px;
    padding: 0 0 0 16px;
}

